.home {
	background: -webkit-gradient(top, rgb(231, 97, 120), #f5c395);
	background: -o-linear-gradient(bottom, rgb(231, 97, 120), #f5c395);
	background: -moz-linear-gradient(bottom, rgb(231, 97, 120), #f5c395);
	background: linear-gradient(to bottom, rgb(231, 97, 120), #f5c395);
}

.logo {
	width: 90%;
	display: block;
	margin: 30px auto;
}

.timepicker {
	background-color: #fff !important;
}

.button-cta {
	width: 100%;
	text-align: left;
}