<ion-view view-title="Zot-N-Ride">
	<ion-content>
		<div class="list list-inset main-list">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search for Locations" value="{{ currentLocation }}">
			</label>
		</div>
		<div class="list list-inset main-list">
			<label class="item item-input">
				<i class="icon ion-calendar placeholder-icon"></i>
				<input type="text" ng-click="setStartDate()" readonly placeholder="Start Date" ng-model="getStartDateTime">
			</label>
		</div>
		<div class="list list-inset main-list">
			<label class="item item-input">
				<i class="icon ion-calendar placeholder-icon"></i>
				<input type="text" ng-click="setEndDate()" readonly placeholder="End Date" ng-model="getEndDateTime">
			</label>
		</div>
		<div class="list card" ng-repeat="x in listing">
			<a href="#/app/listing/{{ x.rid }}" class="item item-image">
				<img src="{{ x.photo }}">
			</a>
			<div class="item">
				<h2>{{ x.name }}</h2>
				<p>{{ x.description }}</p>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-pricetag"></i>
				Reserve for ${{ x.price }}/day
			</a>
		</div>
	</ion-content>
</ion-view>
