<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Requests</h1>
        <button class="button button-clear button-stable" ng-click="closeRequests()">
            <i class="icon ion-close-round"></i>
        </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-if="direction" ng-repeat="request in fromSchool">
            <div class="item item-text-wrap">
                {{request.riderID}} has requested a ride. You need to leave {{getReadableTime(request.results.delta_route / 60)}} minutes early
            </div>
            <div class="item item-divider button-bar">
                <button ng-click='declineRequest(fromSchool.indexOf(request))' class="button assertive">
                    <i class="icon ion-close-round"></i>
                    Decline
                </a>
                <button ng-click='acceptRequest(0, request.riderID)' class="button balanced">
                    <i class="icon ion-checkmark-round"></i>
                    Accept
                </a>
            </div>
        </div>
        <div class="card" ng-if="!direction" ng-repeat="request in toSchool">
            <div class="item item-text-wrap">
                {{request.riderID}} has requested a ride. You need to leave {{getReadableTime(request.results.delta_route / 60)}} minutes early
            </div>
            <div class="item item-divider button-bar">
                <button ng-click='declineRequest(toSchool.indexOf(request))' class="button assertive">
                    <i class="icon ion-close-round"></i>
                    Decline
                </a>
                <button ng-click='acceptRequest(1, request.riderID)' class="button balanced">
                    <i class="icon ion-checkmark-round"></i>
                    Accept
                </a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>